/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header starts*/
    body {
        padding-top: 77px;
    }
    header{
        padding: 16px 0;
    }
    .logo {
        font-size: 24px;
    }
    .menu {
        margin-top: 10px;
    }
    .menu ul li {
        margin-bottom: 6px;
    }
    .menu ul li a {
        margin: 0;
    }
    .serch_btn {
        padding: 0;
    }
    .mod_btn{
        margin-top: 14px;
        padding: 6px 10px !important;
    }
    /*header ends*/
    /*slider starts*/
    .b_content {
        margin: 90px 0;
        text-align: center;
    }
    .b_h1 {
        font-size: 26px;
    }
    .b_p {
        margin: 26px 0;
        line-height: 26px;
    }
    .common_btn {
        padding: 12px 20px;
    }
    .b_btn span {
        margin-left: 6px;
    }
    /* slider ends */
    /*service starts*/
    .c_pad {
        padding-bottom: 60px;
    }
    .cm_pipe {
        height: 40px;
    }
    .s_p {
        margin-bottom: 30px;
    }
    .cm_h1 {
        margin: 26px 0 0;
        font-size: 24px;
    }
    .s_article p {
        margin-bottom: 20px !important;
        line-height: 24px;
    }
    .s_service {
        margin: 40px 0 0;
        padding: 60px 12px 30px;
    }
    .s_icon{
        margin: -87px auto 0;
        width: 54px;
        font-size: 52px;
    }
    .sp_btn span {
        margin-left: 6px;
    }
    /*about start*/
    .a_image {
        margin-bottom: 36px;
        padding: 0;
    }
    .a_content {
        text-align: center;
    }
    .a_h1{
        font-size: 24px;
    }
    .a_p1 {
        margin: 26px 0;
        line-height: 24px;
    }
    /* service ends */
    /*portfolio starts*/
    .work_sample {
        margin-top: 30px;
    }
    .ws_li {
        margin-top: 10px;
    }
    .ws_btn {
        margin: 0 4px;
        padding: 6px 10px;
    }
    .w_box {
        margin-top: 26px;
    }
    .w_boxcont {
        padding-left: 0;
        text-align: center;
    }
    .w_boxicon {
        font-size: 35px;
        top: 35%;
        transform: translate(-50%, -35%);
    }
    /* portfolio ends */
    /*choose starts*/
    .c_margin {
        margin-bottom: 5px;
    }
    .wc_icon{
        justify-content: center;
    }
    .s_choose {
        margin: 44px 18px 0;
        text-align: center;
    }
    .wc_icon i {
        font-size: 32px;
    }
    .wc_h2 {
        margin-left: 10px;
        font-size: 17px;
    }
    .wc_p {
        margin: 20px 0;
        padding: 0 20px;
        line-height: 24px;
    }
    .wc_pipe {
        margin: 0 auto;
        width: 88%;
    }
    /* choose ends */
    /*team starts*/
    .s_team {
        margin: 40px 10px 0;
    }
    .teamsocial{
        top: 60px;
    }
    .teamsocial ul li a i {
        font-size: 22px;
    }
    .tperson_content {
        padding: 16px 0 16px 0;
        text-align: center;
    }
    /* team ends */
    /*price starts*/
    .price_box {
        padding: 0 20px;
    }
    .pr_mb{
        margin-bottom: 20px;
    }
    .s_price {
        margin-top: 40px;
        padding: 0 26px 40px;
    }
    .sp_h3{
        font-size: 16px;
        left: 18px;
    }
    .sp_h2{
        font-size: 28px;
    }
    .p_fiture {
        margin: 30px 0;
    }
    .p_fiture p {
        margin-bottom: 15px;
    }
    /* price ends */
    /*buy starts*/
    .buy{
        margin-bottom: 60px;
    }
    .buy_content {
        margin-bottom: 20px;
        text-align: center;
    }
    .buy_h2 {
        font-size: 16px;
    }
    .buy_btn {
        text-align: center !important;
    }
    /* buy ends */
    /*testimony starts*/
    .t_icon {
        top: 22px;
        left: 18px;
    }
    .t_icon i {
        font-size: 30px;
    }
    .t_content {
        padding: 0;
    }
    .tes_img{
        margin-top: 15px;
    }
    .tes_content {
        padding: 24px 5px 28px;
        text-align: center;
    }
    .tes_h3 {
        margin: 10px 0;
    }
    .tes_p1 {
        margin: 20px 0 0;
    }
    /* testimony ends */
    /*contact starts*/
    .cfi_1 input {
        width: 47%;
    }
    .cfi_1 input:first-child {
        margin-right: 10px;
    }
    .c_form {
        margin-top: 50px;
    }
    .c_form input {
        padding: 10px 12px;
    }
    .c_formh1{
        padding: 0 6px;
        top: -67px;
        font-size: 26px;
    }
    .cfi_3 {
        padding: 30px 12px !important;
    }
    .form_btn {
        margin: 36px 0;
    }
    /* contact ends */
    /*footer starts*/
    .social_icon {
        margin-bottom: 60px;
    }
    .social_cont{
        padding: 0 10px;
    }
    .social_cont p {
        margin: 25px 0;  
    }
    .social_icon {
        margin-bottom: 60px;
    }
    .social_icon ul li a i {
        padding: 6px 6px;
        font-size: 18px;
    }
    .fb_p {
        text-align: center;
    }
    .fb_link {
        margin-bottom: 20px;
        text-align: center;
    }
    .fb_link ul li a {
        margin: 0 10px;
    }
    .fb_p p {
        font-size: 16px;
        padding: 0 24px;
    }
    .footer_bottom {
        padding: 40px 0;
    }
    /* footer ends */
}
    
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*header starts*/
    body {
        padding-top: 83px;
    }
    header {
        padding: 16px 0;
    }
    .logo {
        font-size: 28px;
    }
    .menu {
        margin-top: 10px;
    }
    .menu ul li {
        margin-bottom: 8px;
    }
    .menu ul li a {
        margin: 0;
    }
    .serch_btn {
        padding: 0;
    }
    .mod_btn{
        padding: 6px 10px !important;
    }
    /* header ends */
    /*slider starts*/
    .b_content {
        margin: 50px 0;
        text-align: center;
    }
    .b_h1 {
        font-size: 40px;
    }
    .b_p {
        margin: 30px 0;
        padding: 0 20px;
    }
    .common_btn {
        padding: 12px 20px;
    }
    .b_btn span {
        margin-left: 8px;
    }
    /* slider ends */
    /*service starts*/
    .c_pad {
        padding-bottom: 60px;
    }
    .cm_pipe {
        height: 40px;
    }
    .cm_h1 {
        margin: 26px 0 0;
        font-size: 26px;
    }
    .s_article p {
        margin-bottom: 30px !important;
        line-height: 26px;
    }
    .s_service {
        margin: 40px 40px 0;
        padding: 60px 36px 35px;
    }
    .s_icon{
        margin: -90px auto 0;
    }
    .s_h2 {
        margin-top: 16px;
    }
    .sp_btn span {
        margin-left: 6px;
    }
    /* service ends */
    /*about starts*/
    .a_image {
        margin-bottom: 36px;
        padding: 0 40px;
    }
    .a_content {
        text-align: center;
    }
    .a_h1{
        font-size: 26px;
    }
    .a_p1 {
        margin: 26px 24px;
        line-height: 24px;
    }
    /* about ends */
    /*portfolio starts*/
    .work_sample {
        margin-top: 30px;
    }
    .ws_btn {
        margin: 0 3px;
        padding: 6px 8px;
    }
    .w_box {
        margin-top: 20px;
    }
    .w_boxicon {
        font-size: 32px;
        top: 30%;
        transform: translate(-50%, -30%);
    }
    /* portfolio ends */
    /*choose starts*/
    .c_margin {
        margin-bottom: 14px;
    }
    .wc_icon i {
        font-size: 34px;
    }
    .wc_h2 {
        margin-left: 10px;
        font-size: 17px;
    }
    .wc_p {
        margin: 20px 0;
    }
    /* choose ends */
    /*team starts*/
    .s_team {
        margin-top: 30px;
    }
    .teamsocial{
        top: 50px;
    }
    .teamsocial ul li a i {
        font-size: 22px;
    }
    .tperson_content {
        padding: 16px 0 16px 0;
        text-align: center;
    }
    /* team ends */
    /*price starts*/
    .pr_mb{
        margin-bottom: 20px;
    }
    .s_price {
        margin-top: 40px;
        padding: 0 20px 40px;
    }
    .sp_h3{
        font-size: 16px;
    }
    .sp_h2{
        font-size: 30px;
    }
    .p_fiture {
        margin: 30px 0;
    }
    .p_fiture p {
        margin-bottom: 16px;
    }
    /* price ends */
    /*buy starts*/
    .buy{
        margin-bottom: 60px;
    }
    .buy_content {
        margin-bottom: 20px;
        text-align: center;
    }
    .buy_btn {
        text-align: center !important;
    }
    /* buy ends */
    /*testimony starts*/
    .t_icon {
        top: 34px;
        left: 24px;
    }
    .t_icon i {
        font-size: 34px;
    }
    .t_content {
        padding: 50px 40px;
    }
    .tes_img{
        margin-top: 20px;
    }
    .tes_content {
        padding: 30px 0 0;
        text-align: center;
    }
    .tes_h3 {
        margin: 12px 0;
    }
    .tes_p1 {
        margin: 30px 10px 0;
    }
    /* testimony ends */
    /*contact starts*/
    .cfi_1 input {
        width: 45%;
    }
    .cfi_1 input:first-child {
        margin-right: 38px;
    }
    .c_form {
        margin-top: 60px;
    }
    .c_formh1{
        top: -78px;
    }
    .cfi_3 {
        padding: 36px 15px !important;
    }
    .form_btn {
        margin: 40px 0;
    }
    /* contact ends */
    /*footer starts*/
    .social_cont p {
        margin: 25px 25px; 
    }
    .social_icon {
        margin-bottom: 60px;
    }
    .social_icon ul li a i {
        padding: 8px 10px;
        font-size: 18px;
    }
    .fb_p {
        text-align: center;
    }
    .fb_link {
        margin-bottom: 20px;
        text-align: center;
    }
    .fb_link ul li a {
        margin: 0 14px;
    }
    .footer_bottom {
        padding: 40px 0;
    }
    /* footer ends */
}
    
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*header starts*/
    body {
        padding-top: 90px;
    }
    header{
        padding: 20px 0;
    }
    .logo {
        font-size: 28px;
    }
    .menu {
        margin-top: 10px;
    }
    .menu ul li {
        margin-bottom: 8px;
    }
    .menu ul li a {
        margin: 0;
    }
    .serch_btn{
        padding: 0;
    }
    .mod_btn{
        padding: 6px 10px !important;
    }
    /* header ends */
    /*slider starts*/
    .b_content {
        margin: 120px 0;
    }
    .b_h1 {
        font-size: 40px;
    }
    .b_p {
        margin: 30px 50px 30px 0;
    }
    .common_btn {
        padding: 12px 20px;
    }
    /* slider ends */
    /*service starts*/
    .g_space{
        --bs-gutter-x: 30px;
    }
    .c_pad {
        padding-bottom: 80px;
    }
    .cm_pipe {
        height: 46px;
    }
    .cm_h1 {
        margin: 28px 0 0;
        font-size: 28px;
    }
    .s_article p {
        margin-bottom: 40px !important;
        line-height: 28px;
    }
    .s_service {
        margin-top: 40px;
        padding: 60px 30px 35px;
    }
    .s_icon{
        margin: -90px auto 0;
    }
    .s_h2 {
        margin-top: 16px;
    }
    .s_p {
        margin-bottom: 34px;
    }
    /* service ends */
    /*about starts*/
    .a_image {
        margin-bottom: 40px;
        padding: 0 85px;
    }
    .a_content {
        text-align: center;
    }
    .a_h1{
        font-size: 26px;
    }
    .a_p1 {
        padding: 0 50px;
    }
    /* about ends */
    /*portfolio starts*/
    .work_sample {
        margin-top: 40px;
    }
    .ws_btn {
        margin: 0 5px;
    }
    /* portfolio ends */
    /*choose starts*/
    .c_margin {
        margin-bottom: 20px;
    }
    .wc_icon i {
        font-size: 36px;
    }
    .wc_h2 {
        margin-left: 10px;
        font-size: 16px;
    }
    .wc_p {
        margin: 30px 0;
    }
    /* choose ends */
    /*team starts*/
    .s_team {
        margin: 70px 14px 0;
    }
    .teamsocial{
        top: 70px;
    }
    .teamsocial ul li a i {
        font-size: 22px;
    }
    .tperson_content {
        padding: 16px 0 16px 0;
        text-align: center;
    }
    /* team ends */
    /*price starts*/
    .pr_mb{
        margin-bottom: 20px;
    }
    .price_box{
        padding: 0 20px;
    }
    .s_price {
        margin-top: 40px;
    }
    /* price ends */
    /*buy starts*/
    .buy{
        margin-bottom: 80px;
        padding: 40px 40px;
    }
    /* buy ends */
    /*testimony starts*/
    .t_icon i {
        font-size: 30px;
    }
    .t_content {
        padding: 30px 20px;
    }
    .tes_h2 {
        font-size: 17px;
    }
    .tes_h3 {
        margin: 10px 0;
        font-size: 17px;
    }
    .tes_h4 {
        font-size: 17px;
    }
    .tes_p1 {
        margin-top: 5px;
        font-size: 15px;
        line-height: 20px;
    }
    /*testimony ends*/
    /*contact starts*/
    .c_form {
        margin-top: 70px;
    }
    .c_formh1{
        top: -90px;
    }
    .cfi_3 {
        padding: 40px 15px !important;
    }
    /* contact ends */
    /*footer starts*/
    .social_cont{
        padding: 0 40px;
    }
    .social_cont p {
        margin: 30px 0;
    }
    .social_icon {
        margin-bottom: 75px;
    }
    .social_icon ul li a i {
        padding: 8px 10px;
        font-size: 22px;
    }
    .fb_p {
        text-align: center;
    }
    .fb_link {
        margin-bottom: 20px;
        text-align: center;
    }
    .fb_link ul li a {
        margin: 0 14px;
    }
    .footer_bottom {
        padding: 40px 0;
    }
    /* footer ends */
}
    
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*header starts*/
    body {
        padding-top: 95px;
    }
    header{
        padding: 20px 0;
    }
    /* header ends */
    /*slider starts*/
    .b_content {
        margin: 106px 0;
    }
    /* slider ends */
    /*service starts*/
    .s_service{
        margin-top: 80px;
        padding: 60px 0 35px;
    }
    .s_icon{
        margin: -90px auto 0;
    }
    .s_p {
        margin-bottom: 34px;
    }
    /* service ends */
    /*about starts*/
    .a_image{
        padding-right: 20px;
    }
    /* about ends */
    /*portfolio starts*/
    .work_sample {
        margin-top: 50px;
    }
    .ws_btn {
        margin: 0 8px;
    }
    /* portfolio ends */
    /*team starts*/
    .s_team {
        margin-top: 80px;
    }
    .tperson_content {
        padding: 16px 0 16px 10px;
    }
    .s_teamh2 {
        font-size: 16px;
    }
    /* team ends */
    /*price starts*/
    .s_price {
        padding: 0 16px 40px;
    }
    .sp_btn {
        padding: 14px 36px;
    }
    /* team ends */
    /*testimony starts*/
    .t_icon {
        top: 16px;
        left: 14px;
    }
    .t_icon i {
        font-size: 36px;
    }
    .tes_h3 {
        margin: 14px 0;
    }
    .tes_p1 {
        margin-top: 26px;
    }
    /* testimony ends */
    /* footer starts */
    .social_cont{
        padding: 0 40px;
    }
    .social_icon {
        margin-bottom: 80px;
    }
    .footer_bottom {
        padding: 45px 0;
    }    
    /* footer ends */
}
    
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /*slider starts*/
    .b_p{
         padding-right: 80px;
    }
    /* slider ends */
    /*about starts*/
    .a_image{
        padding-right: 20px;
    }
    /* about ends */
    /*team starts*/
    .teamsocial{
        top: 50px;
    }
    /* team ends */
    /*testimony starts*/
    .t_icon {
        top: 28px;
        left: 22px;
    }
    .tes_content {
        padding: 0 20px;
    }
    .tes_p2 {
        margin: 36px 0 0;
    }
    /* testimony ends */
    /* footer starts */
    .social_cont{
        padding: 0 75px;
    }
    /* footer ends */
}
    
/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    /*slider starts*/
    .b_p{
         padding-right: 30px;
    }
    /* slider ends */
    /*about starts*/
    .a_image{
        padding-right: 20px;
    }
    /* about ends */
    /*team starts*/
    .teamsocial{
        top: 70px;
    }
    /* team ends */
    /*testimony starts*/
    .t_icon {
        top: 34px;
        left: 28px;
    }
    .tes_content {
        padding: 0 20px;
    }
    /* .tes_p2 {
        margin: 36px 0 0;
    } */
    /* testimony ends */
}